{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
	{% image page.banner_image fill-900x400 as img %}

	<div class="jumbotron" style="background-image: url('{{ img.url }}'); background-size: cover; color: #fff">
		<h1 class="display-4">{{ page.banner_title }}</h1>
		<p class="lead">{{ page.banner_subtitle|richtext }}</p>
		<hr class="my-4">  
  
		{% if page.banner_cta %}
			<a class="btn btn-primary btn-lg" href="#" role="button">@todo</a>
		{% endif %}
	</div>
{% endblock %}